name: Build DLL

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build project
        run: msbuild StellaSora.vcxproj /p:Configuration=Release /p:Platform=x64

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
          name: StellaSora-DLL
          path: |
            Release/*.dll
            x64/Release/*.dll
